html, body {
    height: 100vh;
    margin: 0;
}
body {
    padding: 10px;
    display: flex;
    gap: 20px;

}
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;    
    font-size: 15px;
}
textarea {
    width: 400px;
    height: 100%;
    border: none;
    padding: 10px;
}
svg {
    display: block;
    width: 1020px;
    height: 420px;
    box-shadow: 0 0 10px 0 silver;
}

.data-point .title {
    fill: #BBB;
}
.data-point .data {
    font-weight: bold;
}
